<!DOCTYPE html>
<html lang="en" class="light">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>

    <label class="switch">
      <div class="wrapper">
        <div class="toggle">
          <input class="toggle-input" type="checkbox"/>
          <div class="toggle-bg"></div>
          <div class="toggle-switch">
            <div class="toggle-switch-figure"></div>
            <div class="toggle-switch-figureAlt"></div>
          </div>
        </div>
      </div>
    </label>

    <%= yield %>

    <div class="form">
      <% provide(:title, "Edit user") %>
        <h1>Update your profile</h1>
        <%= form_for(current_user) do |f| %>

        <%= f.file_field :avatar, placeholder:"Avatar" %>
        <%= f.text_field :name, class: 'form-control', placeholder:"Name" %>
        <%= f.email_field :email, class: 'form-control', placeholder:"Email" %>
        <%= f.text_field :bio, class: 'form-control', placeholder: "Bio" %>
        <%= f.password_field :password, class: 'form-control', placeholder:"Password" %>

        <%= f.submit "Save changes", class: "btn btn-primary btn-block btn-large" %>
      <% end %>
    </div>

    <script>
      hide_editProfile()
    </script>

  </body>
</html>
