<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acebook</title>
</head>
<body>
  

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<h1>Welcome to Acebook</h1>

<%= form_with model: @user do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email %>
  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.submit "Login" %>
<% end %>
  <br>
<form action="/users/new" method="get">
    <button type="submit">Sign Up</button>
</form>

</body>
</html>


