

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acebook</title>
</head>
<body>

<h1>Sign Up </h1>
<h1>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %> 
</h1>

<div class="sign_up" >
<%= form_for @user do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :dob %>
  <%= form.date_field :dob %>
  <%= form.label :email %>
  <%= form.email_field :email %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.label :confirm_password %>
  <%= form.password_field :confirm_password %>
  

  <%= form.submit "Create Account" %>
<% end %>
</div>
