<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @user.name %>'s Profile</title>
  </head>
  <body>

  <ul>
    <%# <div id='edit_profile'> <li> <%= link_to "Edit Profile", edit_user_path(current_user) % > </div> %>
  </ul>

  <%# <a href="<%= edit_user_path(current_user) % >"> %>
    <%# <button id="edit_profile">Edit Profile</button> %>
  <%# </a> %>

<%# --------- Personal Details -------- %>
    <% provide(:title, @user.name) %>
    <h1><%= @user.name %></h1>
      <div class="profile-picture">
          <% if @user.avatar.attached? %>
              <%=image_tag(@user.avatar) %>
          <% else %>
            <%=image_tag("default_avatar.png")%>
          <% end %>
      </div>
    <h2>
      About me:
    </h2>
    <h3 class="bio"><%=@user.bio%></h3>
<%# ----------- Posts ------------------- %>
<%# Users personal posts (found via user_id) %>


  <script>
    hide_profile()
  </script>
    
  </body>
</html>
