<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @user.name %>'s Profile</title>
</head>
<body>

  <ul>
  <li><%= link_to "Timeline", '/' %>
  <li><%= link_to "Log out", '/sessions/destroy', method: :delete %>
 <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
          <button>Edit Profile</button>
        </a>
  </ul>

<%# --------- Personal Details -------- %>
<% provide(:title, @user.name) %>
  <h1><%= @user.name %></h1>
  <div>
    <% if current_user.avatar.attached? %>
      <img src="<%=(url_for(@user.avatar))%>" %>
    <% else %>
      <img src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
    <% end %>
  </div>
  <h2> About me: </h2>
  <h3 class="bio"><%=current_user.bio%></h3>

<%# ----------- Posts ------------------- %>
<%# Users personal posts (found via user_id) %>

</body>
</html>