<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body div="body">

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<ul>
  <li><%= link_to "Profile", current_user %>
  <li><%= link_to "Log out", 'logout', method: :delete %>
</ul>
  

<%= link_to new_post_path do %>
  New post
<% end %>
</br>
<% @posts.reverse.each do |post| %>
</br>

  <br>
  <div class="posts-<%= cookies[:theme] %>">
    <form action='/posts/<%= post.id %>/like'>
      <%= post.message %><br>
    <% if post.image.attached? %>
        <% post.image.each do |pic|%>
      
        <image src="<%=(url_for(pic))%>" class="post-image">
      
        <% end %>
      <% end %>
      <br>
    <!-- Edit post button, does not link yet, to review if we still want this -->
      <% if false %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <% end %>

    </form> <br>
  </div>
    
          
  <% @users.each do |user| %> 
    <%= user.name if user.id == post.user_id %> 
  <% end %>

  <% like_count = 0 %>
  <% @likes.each do |like| %>
    <% like_count += 1 %>
  <% end %>
      
   <!--- check to see if cookies theme is correct for individual likes -->
  <div class="likes-<%= cookies[:theme] %>"> 
  <%= post.message %>, <%= like_count %> like<%= 's' if like_count != 1 %> 
  <%= link_to "â¤ï¸", post_likes_path(post), method: :post %> <br>
  <br>
  <h2> <%= post.comments.count %> Comments</h2>
    
  <% post.comments.each do |comment| %>
      <% commenter = 'anonymous' %>
      <% @users.each do |user| %> 
        <% commenter = user.name if user.id == comment.user_id %> 
      <% end %>

       <%= "#{comment.body}" %>
       <b> <%= "ðŸ“£ #{commenter}" %> </b> 
        <%= "#{time_ago_in_words(comment.created_at)} #{"ago"}" %> <br>
      <% end %>
 <br>

   <h3>Add a Comment: </h3>
      <%= form_for([post, post.comments.build]) do |f| %>
        <p>
          <!-- <%= f.label :name %> -->
          <!-- <%= f.text_field :name %> -->
        </p>
        <p>
          <%= f.label :body %><br>
          <%= f.text_area :body %>
        </p>
        <br>
        <p>
          <%= f.submit %>
        </p>
    </form> 
    <br>

      <% end %>
    </div>
    <div class="comments-<%= cookies[:theme] %>">
    
          <%= form_for([post, post.comments.build]) do |f| %>
            <p>
              <!-- <%= f.label :name %> -->
              <!-- <%= f.text_field :name %> -->
            </p>
            <p>
              <%= f.text_area :body, class: 'comment-form', placeholder: "Add a comment..." %>
              <%= f.submit :submit, class: 'post-comment', value: "Post" %>
            </p>
            <br>
            <p>
              
            </p> 
            <br>
          <% end %>
   
 </div>
  </div>
<% end %>

</body>
</html>
 