<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body div="body">

    
  
  
</br>
<% @posts.reverse.each do |post| %>
</br>

<br>
<div class="posts-<%= cookies[:theme] %>">
  <form action='/posts/<%= post.id %>/like'>
    <%= post.message %><br>
    <% if post.image.attached? %>
      <% post.image.each do |pic|%>

        <image src="<%=(url_for(pic))%>" class="post-image">

        <% end %>
      <% end %>
      <br>
      <!-- Edit post button, does not link yet, to review if we still want this -->
      <% if false %>
        <%= link_to 'Edit', edit_post_path(post) %>
      <% end %>

    </form>
    <br>

    <% @users.each do |user| %>
      <%= user.name if user.id == post.user_id %>
    <% end %>

    <% like_count = 0 %>
      <% @likes.each do |like| %>
        <% like_count += 1 %><% end %>

        <!--- check to see if cookies theme is correct for individual likes -->
        <div class="likes-<%= cookies[:theme] %>">
        
          
          <%= link_to "â¤ï¸", post_likes_path(post), method: :post %>
          <h4>  <%= like_count %> like<%= 's' if like_count != 1 %>  <%= post.comments.count %>Comments</h4>

          
          </div>
          
          
          <div class="display-comments-<%= cookies[:theme] %>">
          <% post.comments.each do |comment| %>
            <% commenter = 'anonymous' %>
              <% @users.each do |user| %>
                <% commenter = user.name if user.id == comment.user_id %><% end %>

                <%= "#{comment.body}" %>
                <b>
                  <%= "ðŸ“£ #{commenter}" %>
                </b>
                <%= "#{time_ago_in_words(comment.created_at)} #{"ago"}" %>
                
              <% end %>
              <br>
           </div>

              <div class="comments-<%= cookies[:theme] %>">
                <%= form_for([post, post.comments.build]) do |f| %>
                <p>
                  <%= f.text_area :body, class: 'comment-form', placeholder: "Add a comment..." %>
                  <%= f.submit :submit, class: 'post-comment', value: "Post" %>
                <% end %>
              </p>
            </div>
        </div>
      </div>
    <% end %>

  
  <script>
    hide_timeline()
  </script>
  </body>
</html>
