<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acebook</title>
  </head>
  <body>

    <%= form_for @post do |form| %>
    <%= form.label :message %>
    <%= form.text_field :message %>

    <%= form.label :photo %>
    <%= form.file_field :image, multiple: true %>

    <%= form.submit "Submit" %>
  <% end %>

  <script>
    hide_newpost()
  </script>
</body>
</html>
