<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<%= link_to "Log out", 'logout', method: :delete %>

  <%= form_for @post do |form| %>
    <%= form.label :message %>
    <%= form.text_field :message %>

    <%= form.submit "Submit" %>
  <% end %>

</body>
</html>


