<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
  </head>

  <body>

    <script>
      function hide_timeline() {
        let x = document.getElementById("nav_timeline");
        x.style.display = "none";
      }

      function hide_profile() {
        let x = document.getElementById("nav_profile");
        x.style.display = "none";
      }

      function hide_logout() {
        let x = document.getElementById("nav_logout");
        x.style.display = "none";
      }

      function hide_newpost() {
        let x = document.getElementById("nav_newpost");
        x.style.display = "none";
      }

       function hide_editProfile() {
        let x = document.getElementById("nav_edit_profile");
        x.style.display = "none";
      }

      function hide_titleBar() {
        let x = document.getElementById("titlebar");
        x.style.display = "none";
      }

      function hide_title() {
        let x = document.getElementById("title");
        x.style.display = "none";
      }
      
    </script>

    <div id='titlebar'>
      <div id="logo">
        <%= link_to image_tag("logo_no_bg.png", :class => "img-responsive"), root_path %>
        <span id="title">Acebook</span>
      </div>

      <div id='navbar'>
        <ul>
          <div id='nav_logout'> <li> <%= link_to "Log out", '/sessions/destroy', method: :delete %> </div>
          <% if logged_in? %> <div id='nav_edit_profile'> <li> <%= link_to "Settings", edit_user_path(current_user) %> </div><% end %>
          <div id='nav_profile'> <li> <%= link_to "Profile", current_user %> </div>
          <div id='nav_timeline'> <li> <%= link_to "Timeline", '/' %> </div>
          <div id='nav_newpost'> <li> <%= link_to "New post", new_post_path %> </div>
        </ul>
      </div>
    </div>
<br>
<br>
   <!--
    <% if cookies[:theme] == "light" %>
      <button class="dark_mode"><%= link_to "Dark mode", root_path(theme: "dark") %></button>
    <% else %>
      <button class="light_mode"><%= link_to "Light mode", root_path(theme: "light") %></button>
    <% end %>
    -->

  <div id="yield">
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    
    <%= yield %>
  </div>
    <div id='footer'>
      © <a href="https://github.com/dominicmeddick/acebook-smokin-meats">Smokin’Meats</a>🥩
    </div>
  </body>
</html>
