<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div id='titlebar'>
   <%= image_tag ("logo.png"), class: "img-responsive" %>
  <span id="title">Acebook</span>

  </div>
    <%= yield %>
  </body>
</html>
